/* Kay Catering Sitewide CSS */

/* Set max font size (TRicks Wizardry Method) */

@media only screen and (min-width: 1440px) {
    body {
        font-size: 14.4px;
    }
}

/* Pointer Events */

.sec__ovrlay {
    pointer-events: none;
}

/* Link Color Inherit */

a {
    color: inherit;
}

/* Splide styles */

.splide__arrow.splide__arrow--next,
    .splide__arrow.splide__arrow--prev,
    .splide__pagination {
        display: none;
    }

    .splide *:focus {
        outline: none;
    }